{% extends "_layout.html" %}
{% from "macros.jinja" import printMaintainers %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
<h1>Not found</h1>

<div class="content-text">
  <p>The URL you have requested, <code>{{ url }}</code>, doesn't seem to actually exist.</p>
  {% if maintainers %}
  <h2>If you have reached this page by following a link</h2>
  <p>This URL is managed by the <a href="{{ toolsadmin_url }}/tools/id/{{ tool }}"><code>{{ tool }}</code></a> tool, maintained by {{ printMaintainers( maintainers, wiki_url ) }}.</p>
  <p>Perhaps its files are on vacation, or the link you've followed doesn't actually lead somewhere useful?</p>
  <p>You might want to look at the <a href="{{ toolhub_url }}">list of tools</a> to find what you were looking for. If you're pretty sure this shouldn't be an error, you may wish to notify the tool's maintainers (they are listed above) about the error and how you ended up here.</p>
  {% else %}
  <p>Perhaps the webserver has temporarily become confused, or the link you've followed doesn't actually lead somewhere useful?</p>
  <p>You might want to look at the <a href="{{ toolhub_url }}">list of tools</a> to find what you were looking for.</p>
  <div id="fourohfour-didyoumean-target"></div>
  <p>If you're pretty sure this shouldn't be an error, you may wish to notify the <a href="{{ toolsadmin_url }}/tools/id/admin">project administrators</a> about the error and how you ended up here.</p>
  {% endif %}
</div>
{% endblock content %}
{# vim:sw=2:ts=2:sts=2:et: #}

{% block script %}
{% if not maintainers %}
<script>
  ( async () => {
    const target = document.querySelector( "#fourohfour-didyoumean-target" );
    if ( !target ) {
      // Don't bother loading the information if we've somehow
      // landed on a page where that data would not be shown.
      return;
    }

    const response = await fetch( "/_/fourohfour-api/did-you-mean" );
    if ( response.status !== 200 ) {
      console.error( 'Loading did you mean data failed!' );
      return;
    }

    const data = await response.json();

    const { toolsadminUrl, openstackBrowserUrl } = data.settings;

    if ( data.tools.length > 0 ) {
      const toolParagraph = document.createElement( "p" );
      toolParagraph.innerText = "These tools have similar names:";
      target.appendChild( toolParagraph );

      const toolList = document.createElement( "ul" );

      data.tools.forEach(
        (tool, _) => {
          const link = document.createElement( "a" );
          link.setAttribute( "href", `${toolsadminUrl}/tools/id/${tool[0]}` );
          link.innerText = tool[0];

          const listItem = document.createElement( "li" );
          listItem.appendChild( link );

          toolList.appendChild( listItem );
        }
      );

      target.appendChild( toolList );
    }

    if ( data.projects.length > 0 ) {
      const projectParagraph = document.createElement( "p" );
      projectParagraph.innerText = "These Cloud VPS projects have similar names:";
      target.appendChild( projectParagraph );

      const projectList = document.createElement( "ul" );

      data.projects.forEach(
        (project) => {
          const link = document.createElement( "a" );
          link.setAttribute( "href", `${openstackBrowserUrl}/project/${project[0]}` );
          link.innerText = project[0];

          const listItem = document.createElement( "li" );
          listItem.appendChild( link );

          projectList.append( listItem );
        }
      );

      target.appendChild( projectList );
    }
  } )();
</script>
{% endif %}
{% endblock %}
