{% extends "_layout.html" %}
{% from "macros.jinja" import printMaintainers %}

{% block title %}410 Gone{% endblock %}

{% block content %}
<h1>Tool disabled</h1>

<div class="content-text">
  <p>
    The tool responsible for the URL you have requested, <code>{{ url }}</code>, has been disabled.
  </p>

  <h2>If you have reached this page from somewhere else...</h2>
  <p>
    This URI was managed by the
      <a href="{{ toolsadmin_url }}/tools/id/{{ tool }}"><code>{{ tool }}</code></a> tool,
      maintained by {{ printMaintainers( maintainers, wiki_url ) }}.
  </p>
</div>
{% endblock content %}
{# vim:sw=2:ts=2:sts=2:et: #}
