{% extends "_layout.html" %}

{% block title %}500 Internal Server Error{% endblock %}

{% block content %}
<h1>No webservice</h1>

<div class="content-text">
  <p>The URL you have requested, <code>{{ url }}</code>, is not currently serviced.</p>

  <p>You may wish to notify the <a href="{{ toolsadmin_url }}/tools/id/admin">project administrators</a> about the error and how you ended up here, since any further information about this error failed to load.</p>
</div>
{% endblock content %}
{# vim:sw=2:ts=2:sts=2:et: #}
