{% extends "_layout.html" %}
{% from "macros.jinja" import printMaintainers %}

{% block title %}502 Bad Gateway{% endblock %}

{% block content %}
<h1>Webservice is unreachable</h1>

<div class="content-text">
  <p>The tool responsible for the URL you have requested, <code>{{ url }}</code>, is not currently responding.</p>

  <h2>If you have reached this page from somewhere else...</h2>
  <p>This URI is managed by the <a href="{{ toolsadmin_url }}/tools/id/{{ tool }}"><code>{{ tool }}</code></a> tool, maintained by {{ printMaintainers( maintainers, wiki_url ) }}.</p>

  <p>You may wish to notify the tool's maintainers (above) about the error.</p>

  <h2>If you maintain this tool</h2>
  <p>The web service for this tool is running but cannot be reached. Please check the error logs of your web service.</p>
</div>
{% endblock content %}
{# vim:sw=2:ts=2:sts=2:et: #}
