{% macro ucfirst( word ) -%}
  {{ word[0]|upper }}{{ word[1:] }}
{%- endmacro %}

{% macro as_title( word ) -%}
  {{ ucfirst( word )|replace(" ", "_")|urlencode }}
{%- endmacro %}

{% macro printMaintainers( maintainers, wiki_url ) -%}
  {% for maintainer in maintainers|sort %}
    <a href="{{ wiki_url }}/wiki/User:{{ as_title( maintainer ) }}">{{ ucfirst( maintainer ) }}</a>
    {%- if not loop.last %}, {% endif -%}
  {%- endfor -%}
{%- endmacro %}
{# vim:sw=2:ts=2:sts=2:et:ft=django: #}
